[package]
name = "markwrite"
version = "0.0.1"
authors = ["Rodney Johnson <ask@rodneylab.com>"]
edition = "2021"
license = "BSD-3-Clause"
repository = "https://github.com/rodneylab/markwrite"
description = "Markdown writing CLI tool"

[lib]
path = "src/lib.rs"

[[bin]]
path = "src/main.rs"
name = "markwrite"

[dependencies]
aho-corasick = "1.0.2"
anyhow = "1.0.71"
askama = "0.12.0"
clap = { version = "4.3.11", features = ["derive"] }
clap-verbosity-flag = "2.0.1"
deunicode = "1.3.3"
env_logger = "0.10"
futures = "0.3"
html5ever = "0.26.0"
indicatif = "0.17.3"
log = "0.4"
nom = { version = "7.1.3", features = ["alloc"] }
notify = "6.0.1"
notify-debouncer-mini = "0.3.0"
owo-colors = "3.5.0"
pulldown-cmark = "0.9.2"
reqwest = { version = "0.11.18", features = ["json"] }
serde = { version = "1.0.171", features = ["derive"] }
serde_json = "1.0.100"
serde_yaml = "0.9.21"
textwrap = "0.16.0"
tokio = { version = "1", features = ["macros", "rt-multi-thread"] }
url = "2.4.0"

[dev-dependencies]
assert_cmd = "2.0.12"
assert_fs = "1"
fake = "2.5"
markup5ever_rcdom = "0.2.0"
predicates = "3.0.3"
quickcheck = "1.0.3"
quickcheck_macros = "1.0.0"

[profile.release]
strip = "debuginfo"
